{% extends 'main/layout.html'%}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="all">
        <h1>Создатели</h1>
        <div class="image">
            <img src="../../static/main/img/1.jpg" />
            <h4>Никита Привалов</h4>
            <p>Студент 423 группы</p>
        </div>
        <div class="image">
            <img src="../../static/main/img/2.jpg" />
            <h4>Анастасия Алиева</h4>
            <p>Студентка 423 группы</p>
        </div>
    </div>
    <style>
        .all{
            width:100%;
            text-align:center;
        }
        .image{
            width:50%;
            float:left;
            text-align:center;
            margin-top: 100px;
        }
        img{
            width:300px;
            height:300px;
        }
    </style>
{% endblock %}

