{% extends 'main/layout.html'%}

{% block title %}Главная страница{% endblock %}

{% block content %}
<div class="formout">
    <h1>Третья работа по дисциплине разработка программных систем</h1>
    <p> Реализовать графический пользовательский веб-интерфейс.
        Интерфейс должен иметь функции: 1) ввода/редактирования массива для сортировки с клавиатуры; 2) сохранение выведенного в интерфейсе массива в базу данных; 3) вывод списка всех массивов хранящихся в базе (без возможности редактирования и сортировка); 4) выгрузка массива из базы для редактирования и сортировка; 5) сортировка массива по алгоритму реализованному во 2 лабораторной. Получившийся интерфейс должен хотя бы отчасти соответствовать следующий эвристикам ui / ux : видимость статуса системы; соответствие между системой и реальным миром; управляемость; согласованность; гибкость; минимализм в дизайне; помощь пользователю в выявлении ошибок; наличие справки. В отчёте должны быть даны пояснения, какие элементы графического интерфейса какой эвристике соответствуют.
    </p>
</div>
{% endblock %}

